
body {
    background-color: grey;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    background: linear-gradient(to top, rgba(52, 52, 56, 2.7), rgba(20, 20, 25, 2.9));
    margin-bottom: 10%;
    
}

button {
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    color: aliceblue;
    background: transparent;
    border-color: transparent;
    box-sizing: none;
}


button.logo {
    margin: 0;
}

button.Login {
    margin-left: auto;
}

p {
    text-indent: 10px;
}

main {
    background-color: rgba(52, 52, 56, 0.788);
    color: rgb(88, 216, 95);
    padding: 20px;
    margin: auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(to bottom, rgba(52, 52, 56, 0.9), rgba(20, 20, 25, 0.9));
    box-shadow: 10px 20px 30px;
    width: 50%;
    height: 1600px;
    border-radius: 10px;
}

h1.titulo {
    text-shadow: 1px 1px 7px;
}



main div {
    padding: 20px;
    color: rgb(86, 213, 93);
    text-align: left;
    font-size: 13px;
    margin: auto;

}

.endbar {
    text-align: justify;
    color: aqua;
    margin-bottom: auto;
    padding: 20px;
}

.fim {
    color: darkgreen;
    text-decoration: none;
    position: relative;
    top: 350px;
}

.fim:hover {
    color: rgb(88, 216, 95);
}

